In [ ]:
# Run this cell by hitting CTRL + ENTER
from IPython.display import YouTubeVideo
from datascience import *

# Module 1.2 Part 3: Building Tables

In this notebook, you'll learn how to create tables to store data. You'll also learn more table methods that you can use to process data.

This notebook includes 4 videos with a total runtime of 28:30.

- [Building Tables](#section1) *1 video, total runtime 5:53*
- [Lists](#section2) *1 video, total runtime 8:07*
- [Take](#section3) *1 video, total runtime 3:49*
- [Where](#section4) *1 video, total runtime 10:41*
- [Check for Understanding](#section5)


Textbook Readings:
- [Chapter 6: Tables](https://www.inferentialthinking.com/chapters/06/Tables.html)

<a id='section1'></a>
## 1. Building Tables

In this video, you'll learn about how to create tables and modify columns.

In [ ]:
YouTubeVideo("Obg7GqjxZ-Q")

Create a table `professors` with one column called `name`, populated with the names of three Berkeley professors.

In [ ]:
professors = ...
professors

<details>
    <summary>Example Solution</summary>
    professors = Table().with_column("name", make_array("David Wagner", "Alex Filippenko", "Robert Reich"))
</details>

Add a column to your table `professors` called `department`, which describes the department that each professors teaches for.

In [ ]:
professors = ...
professors

<details>
    <summary>Example Solution</summary>
    professors = professors.with_column("department", make_array("EECS", "Astronomy", "Public Policy"))
</details>

<a id='section2'></a>
## 2. Lists

In this video, you'll learn about lists, another type of sequence that can hold items of different types. You'll go over how to create lists and how to use them to add rows to tables.

In [ ]:
YouTubeVideo("KOcIKkXQvl0")

Use a list to add a new row to your table `professors`.

In [ ]:
professors = ...
professors

<details>
    <summary>Example Solution</summary>
    professors = professors.with_row(["Pete Marsden", "Chemistry"])
</details>

<a id='section3'></a>
## 3. Take

In this video, you'll learn how to use the table method `take` to select specific rows of a table based on their positions.

In [ ]:
YouTubeVideo("TlHeF21OSAc")

Use `take` to select the second and third row of your `professors` table

In [ ]:
...

<details>
    <summary>Solution</summary>
    professors.take(1, 2)
</details>

<a id='section4'></a>
## 4. Where

In this video, you'll learn how to use the table method `where` to select rows of a table based on a specified condition.

In [ ]:
YouTubeVideo("xCk4CxHL2ec")

Run the cell below to create a column `name_length` in `professors`, that contains the number of characters in each professor's name.

In [ ]:
# We'll learn how to use .apply() in a few videos!
professors = professors.with_column("name_length", professors.apply(len, "name"))
professors

Return a copy of your table `professors` that only contains rows where the professor's name is longer than 10 characters long.

In [ ]:
...

<details>
    <summary>Solution</summary>
    professors.where("name_length", are.above(10))
</details>

<a id='section5'></a>
## 5. Check for Understanding

For the following questions, consider the following table `temperatures`

| Date       | min_temp | max_temp |
|------------|----------|----------|
| 2020-05-01 | 44       | 68       |
| 2020-05-02 | 49       | 72       |
| 2020-05-03 | 45       | 67       |
| 2020-05-04 | 47       | 66       |
| 2020-05-05 | 48       | 64       |
| 2020-05-06 | 42       | 62       |
| 2020-05-07 | 50       | 65       |

**A. What is the result of the following code?**

```
temperatures.where(min_temp, are.below(47)).num_rows
```

<details>
    <summary>Solution</summary>
    3
</details>
<br>

**B. Which line(s) of code produces this table?**

| Date       | min_temp | max_temp | temp_diff |
|------------|----------|----------|-----------|
| 2020-05-01 | 44       | 68       | 24        |
| 2020-05-02 | 49       | 72       | 23        |
| 2020-05-03 | 45       | 67       | 22        |
| 2020-05-04 | 47       | 66       | 19        |
| 2020-05-05 | 48       | 64       | 16        |
| 2020-05-06 | 42       | 62       | 20        |
| 2020-05-07 | 50       | 65       | 15        |

1. `temperatures.with_column("temp_diff", max_temp - min_temp)`
2. `temperatures.with_column("temp_diff", abs(temperatures.with_column(min_temp) - temperatures.with_column(max_temp)))`
3. `temperatures.with_column("temp_diff", temperatures.with_column("max_temp") - temperatures.with_column("min_temp"))`

<details>
    <summary>Solution</summary>
    3. `temperatures.with_column("temp_diff", temperatures.with_column("max_temp") - temperatures.with_column("min_temp"))`
</details>
<br>